<?xml version="1.0"?>
<launch>

  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg id_robot)_"/>
  <arg name="odom_frame" default="$(arg prefix)odom"/>
  <arg name="base_frame" default="$(arg prefix)base_footprint"/>
  <arg name="odom_broadcast_tf" default="true"/>
  <arg name="cmd_vel" default="cmd_vel"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find rbcar_control)/config/rbcar_control.yaml" command="load" subst_value="true"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
					  robotnik_base_control
            joint_read_state_controller
            joint_read_command_controller
            joint_pan_position_controller
            joint_tilt_position_controller
            elevator_controller
            "
  />

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find rbcar_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="robotnik_base_control/$(arg cmd_vel)" />
  </node>


</launch>
