<?xml version="1.0"?>
<launch>
    <arg name="cmd_vel" default="cmd_vel"/>
    <node pkg="twist_mux" type="twist_mux" name="twist_mux">
        <rosparam command="load" file="$(find rbcar_control)/config/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="robotnik_base_control/$(arg cmd_vel)" />
    </node>

</launch>