<?xml version="1.0"?>
  <robot name="rbcar"
    xmlns:xacro="http://wiki.ros.org/xacro">

	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import Robotnik CAR base elements -->
	<xacro:include filename="$(find rbcar_description)/urdf/bases/rbcar_base.urdf.xacro" />

	<!-- Import Robotnik CAR wheels -->
	<xacro:include filename="$(find rbcar_description)/urdf/wheels/suspension_wheel_v3.urdf.xacro" />
	
	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />
  	<xacro:include filename="$(find robotnik_sensors)/urdf/utils/inertia.urdf.xacro" />

	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->

	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.91131" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.62124" />
	<xacro:property name="wheel_offset_z" value="0.0" />

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />
	<xacro:arg name="prefix" default="robot_"/>
	<xacro:arg name="gps_longitude" default="39.551218"/>
	<xacro:arg name="gps_latitude" default="-0.467738"/>
	<xacro:arg name="gpu" default="true"/>

	<!-- *************** -->
	<!-- Robots Elements -->
	<!-- *************** -->

	<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

	<!-- Rbcar base -->
	<xacro:rbcar_base name="rbcar" prefix="$(arg prefix)" publish_bf="true" hq="${hq}" />

	<!-- Gazebo ros control pluggins -->
	<xacro:ros_control/>

	<!-- Wheels -->
  	<xacro:front_wheel prefix="$(arg prefix)" lr_prefix="left" fr_prefix="front"
                     lr_reflect="1" fr_reflect="1" parent="$(arg prefix)base_link" />
  	<xacro:front_wheel prefix="$(arg prefix)" lr_prefix="right" fr_prefix="front"
                     lr_reflect="-1" fr_reflect="1" parent="$(arg prefix)base_link" />
  	<xacro:rear_wheel prefix="$(arg prefix)" lr_prefix="left" fr_prefix="rear"
                    lr_reflect="1" fr_reflect="-1" parent="$(arg prefix)base_link" />
  	<xacro:rear_wheel prefix="$(arg prefix)" lr_prefix="right" fr_prefix="rear"
                    lr_reflect="-1" fr_reflect="-1" parent="$(arg prefix)base_link" />   

	<xacro:sensor_rslidar_16 prefix="$(arg prefix)top_3d_laser" parent="$(arg prefix)base_link"  gpu="$(arg gpu)">
	  <origin xyz="1.163 0.0 1.602" rpy="0 0.2637 0"/>
	</xacro:sensor_rslidar_16>


	<xacro:sensor_imu_hector prefix="$(arg prefix)imu" parent="$(arg prefix)base_link">
		<origin xyz="0.319 0.018 0.676" rpy="0 0 0"/>
	</xacro:sensor_imu_hector>

	<xacro:sensor_sick_outdoorscan3 prefix="$(arg prefix)front_laser" parent="$(arg prefix)base_link" prefix_topic="front_laser" min_angle="-1.5" max_angle="1.5" gpu="$(arg gpu)">
		<origin xyz="2.101 0 0.206" rpy="0 0 0"/>
	</xacro:sensor_sick_outdoorscan3>

	<xacro:sensor_hokuyo_utm30lx prefix="$(arg prefix)rear_laser" parent="$(arg prefix)base_link" gpu="$(arg gpu)" prefix_topic="rear_laser">
      		<origin xyz="-0.42925 0.0 0.24674" rpy="0 0 ${PI}"/>
  	</xacro:sensor_hokuyo_utm30lx>
	
	<xacro:sensor_gps prefix="$(arg prefix)gps" parent="$(arg prefix)base_link" gps_latitude="$(arg gps_latitude)" gps_longitude="$(arg gps_longitude)">
		<origin xyz="0.491 0 1.503" rpy="0 0 0"/>
	</xacro:sensor_gps>

<!--Gazebo plugins-->
<gazebo>
	<plugin name="ground_truth_controller" filename="librobotnik_gazebo_ground_truth_odom.so">
		<alwaysOn>true</alwaysOn>
		<updateRate>50.0</updateRate>
		<bodyName>$(arg prefix)base_link</bodyName>
		<frameName>base_footprint_gt</frameName>
		<worldBodyName>world</worldBodyName>
		<worldFrameName>$(arg prefix)odom</worldFrameName>
		<topicName>odom_gt</topicName>
		<gaussianNoise>0.01</gaussianNoise>
		<xyzOffset>0.0 0 0</xyzOffset>
		<rpyOffset>0 0 0</rpyOffset>
		<applyOffset>False</applyOffset>
		<broadcastTF>True</broadcastTF>
	</plugin>
</gazebo>

<gazebo>
	<plugin name="gps_ground_truth_controller" filename="librobotnik_gazebo_ground_truth_odom.so">
		<alwaysOn>true</alwaysOn>
		<updateRate>50.0</updateRate>
		<bodyName>$(arg prefix)gps_base_link</bodyName>
		<frameName>gps_base_link_gt</frameName>
		<worldBodyName>world</worldBodyName>
		<worldFrameName>world</worldFrameName>
		<topicName>odom_gt</topicName>
		<gaussianNoise>0.01</gaussianNoise>
		<xyzOffset>0.0 0 0</xyzOffset>
		<rpyOffset>0 0 0</rpyOffset>
		<applyOffset>False</applyOffset>
		<broadcastTF>True</broadcastTF>
	</plugin>
</gazebo>
</robot>
