<?xml version="1.0"?>
<launch>  
	
	<arg name="prefix" default=""/>

    <node pkg="robot_localization" type="ekf_localization_node" name="filter_odom" clear_params="true" output="screen">
        <rosparam command="load" file="$(find rbcar_localization)/config/filter_odom.yaml" />
        <remap from="odometry/filtered" to="odometry/filtered"/>
    </node>

</launch>
