<?xml version="1.0"?>
<launch>  
	
	<arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
    <arg name="prefix" default="$(arg id_robot)_"/>
    <arg name="odom_topic" default="robotnik_base_control/odom"/>
    <arg name="imu_topic" default="imu/data"/>

    <node pkg="robot_localization" type="ekf_localization_node" name="filter_world" clear_params="true" output="screen">
        <rosparam command="load" file="$(find rbcar_localization)/config/filter_world.yaml" subst_value="true"/>
        <remap from="odometry/filtered" to="odometry/filtered_world"/>
    </node>
  
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen" >
        <rosparam command="load" file="$(find rbcar_localization)/config/navsat.yaml"  subst_value="true"/>
        <remap from="odometry/filtered" to="odometry/filtered_world"/>
    </node>

</launch>
