base_global_planner: SBPLLatticePlanner

# full explanation here: http://wiki.ros.org/sbpl_lattice_planner
SBPLLatticePlanner:
  environment_type: XYThetaLattice # only supported value
  planner_type: ARAPlanner # ARAPlanner or ADPlanner
  allocated_time: 10.0 # time to find a solution. if solution is found before, then it will be optimized until time runs out. if no solution is found, aborts
  initial_epsilon: 3.0 # the bigger, the faster and less optimal solution will be found.
  forward_search: false # search in solution space. important for ADPlanner, useless for ARAPlanner
  primitive_filename: "" # absolute path for primitives file. better if overwrited in launch file with $(find)
  force_scratch_limit: 500 # for AD, number of dirty cells allowed for reusing data. the bigger, the faster and less optimal
  nominalvel_mpersecs: 1.0 # nominal linear velocity
  timetoturn45degsinplace_secs: 10 # time to turn 45 degrees in place.
  lethal_obstacle: 20 # to modify costs. not sure how it works
