<?xml version="1.0"?>
<launch>
	<arg name="sim" default="true"/>
	<include if="$(arg sim)" file="$(find rbcar_sim_bringup)/launch/rbcar_complete.launch"/>
	<include file="$(find rbcar_navigation)/launch/move_base.launch"/>


	<!-- UTM odometry node-->
    	<!--node name="utm_odometry_node" pkg="gps_common" type="utm_odometry_node"-->
      		<!-- remap from="odom" to="vo1"/ -->      <!-- if two gpss used, otherwise -->
      		<!--remap from="odom" to="gps/utm_coords"/>
      		<remap from="fix" to="gps/fix" />
      		<param name="rot_covariance" value="99999" />
      		<param name="frame_id" value="world" />
    	</node-->
	
    	<!--include file="$(find rbcar_localization)/launch/navsat_transform_node.launch"/-->
    	<include file="$(find rbcar_localization)/launch/robot_localization_world.launch"/>
	<!--node name="gps_utm" pkg="gps_common" type="utm_navsat_node" /-->
	<include file="$(find robotnik_hmi)/launch/robotnik_hmi.launch"/>

</launch>
