<?xml version="1.0"?>
<launch>

  <!-- GPS default position of Robotnik at Fuente del Jarro-->
  <arg name="gps_latitude" default="39.5080331"/>
  <arg name="gps_longitude" default="-0.4619816"/>

  <arg name="robot_xacro" default="$(optenv ROBOT_XACRO rbcar.urdf.xacro)"/>
  <arg name="robot_xacro_path" default="$(find rbcar_description)/robots/$(arg robot_xacro)" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg robot_xacro_path) gps_latitude:='$(arg gps_latitude)' gps_longitude:='$(arg gps_longitude)'" />
  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>
