<?xml version="1.0"?>
<launch>
  
  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg id_robot)_"/>
  <!-- GPS default position of Robotnik at Fuente del Jarro-->
  <arg name="gps_latitude" default="$(optenv ROBOT_SIM_GPS_LATITUDE 39.5080331)"/>
  <arg name="gps_longitude" default="$(optenv ROBOT_SIM_GPS_LONGITUDE -0.4619816)"/>
 
  <arg name="use_gpu_for_simulation" default="$(optenv ROBOT_SIM_USE_GPU_FOR_SIMULATION true)" />

  <arg name="robot_xacro" default="$(optenv ROBOT_XACRO versions/rbcar_roborder.urdf.xacro)"/>
  <arg name="robot_xacro_path" default="$(find rbcar_description)/robots/$(arg robot_xacro)" />
 
  <param name="robot_description" command="$(find xacro)/xacro '$(arg robot_xacro_path)' prefix:=$(arg prefix) gpu:=$(arg use_gpu_for_simulation)  gps_latitude:='$(arg gps_latitude)' gps_longitude:='$(arg gps_longitude) --inorder'" />
  
  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  
</launch>

