<?xml version="1.0"?>
  <robot name="roborder"
    xmlns:xacro="http://wiki.ros.org/xacro">

	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import Robotnik CAR base elements -->
	<xacro:include filename="$(find rbcar_description)/urdf/bases/roborder_base.urdf.xacro" />

	<!-- Import Robotnik CAR wheels -->
	<!--xacro:include filename="$(find rbcar_description)/urdf/wheels/suspension_wheel_v2.urdf.xacro" /-->
	<xacro:include filename="$(find rbcar_description)/urdf/wheels/rear_axle.urdf.xacro" />

	<xacro:include filename="$(find rbcar_description)/urdf/structures/elevator.urdf.xacro" />

	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->

	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

  <!-- GPS -->
	<xacro:arg name="gps_latitude" default="gps_latitude"/>
	<xacro:arg name="gps_longitude" default="gps_longitude"/>

	<!-- *************** -->
	<!-- Robots Elements -->
	<!-- *************** -->

	<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

	<!-- Rbcar base -->
	<xacro:roborder_base name="roborder" publish_bf="true" hq="${hq}" />

	<!-- Gazebo ros control pluggins -->
	<xacro:ros_control/>

        <!-- xacro:omni_steering prefix="" publish_tf="true"/-->

	<!-- Gazebo skid steering pluggins -->
	<!-- xacro:skid_steering broadcastOdomTF="1"/ -->

	<!-- WHEELS -->
  <xacro:rear_axle prefix="rear_axle" parent="base_link">
    <origin xyz="-0.91131 0 0" rpy="1.57079633 0 3.14159265"/>
  </xacro:rear_axle>

	<!-- SENSORS -->
  <xacro:sensor_benewake_ce30d prefix="front_3d_lidar" parent="base_link" gpu="true">
      <origin xyz="1.23298 0.0 0.2425" rpy="0 0 0"/>
  </xacro:sensor_benewake_ce30d>

  <xacro:sensor_ouster1_16 prefix="top_3d_lidar" parent="base_link" hsamples="1024" fps="10" gpu="true">
      <origin xyz="0.6 0.0 1.6993" rpy="0 0.1745 0"/>
  </xacro:sensor_ouster1_16>

  <xacro:sensor_rubedos_viper prefix="viper" parent="base_link">
      <origin xyz="0.6 0.0 1.354" rpy="0 0.1745 0.0"/>
  </xacro:sensor_rubedos_viper>

	<xacro:sensor_imu_hector prefix="imu" parent="base_link">
		<origin xyz="-1.0729 0.5605 0.5605" rpy="0 0 0"/>
	</xacro:sensor_imu_hector>

	<xacro:sensor_gps prefix="gps" parent="base_link" gps_latitude="$(arg gps_latitude)" gps_longitude="$(arg gps_longitude)" update_rate="20" >
		<origin xyz="-0.58166 0 1.6993" rpy="0 0 0"/>
	</xacro:sensor_gps>

  <xacro:elevator parent="base_link">
		<origin xyz="-0.58166 0.0 0.6" rpy="0 0 0"/>
	</xacro:elevator>

  <xacro:sensor_axis_q8641 prefix="front_ptz_camera" parent="elevator_link" far="300" near="0.08">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_axis_q8641>

<gazebo>
<plugin name="ground_truth_controller" filename="librobotnik_gazebo_ground_truth_odom.so">
  <alwaysOn>true</alwaysOn>
  <updateRate>50.0</updateRate>
  <bodyName>base_link</bodyName>
  <frameName>base_footprint_gt</frameName>
  <worldBodyName>world</worldBodyName>
  <worldFrameName>odom</worldFrameName>
  <topicName>odom_gt</topicName>
  <gaussianNoise>0.01</gaussianNoise>
  <xyzOffset>0.0 0 0</xyzOffset>
  <rpyOffset>0 0 0</rpyOffset>
  <applyOffset>False</applyOffset>
  <broadcastTF>True</broadcastTF>
</plugin>
</gazebo>

<gazebo>
<plugin name="gps_ground_truth_controller" filename="librobotnik_gazebo_ground_truth_odom.so">
  <alwaysOn>true</alwaysOn>
  <updateRate>50.0</updateRate>
  <bodyName>gps_base_link</bodyName>
  <frameName>gps_base_link_gt</frameName>
  <worldBodyName>world</worldBodyName>
  <worldFrameName>world</worldFrameName>
  <topicName>odom_gt</topicName>
  <gaussianNoise>0.01</gaussianNoise>
  <xyzOffset>0.0 0 0</xyzOffset>
  <rpyOffset>0 0 0</rpyOffset>
  <applyOffset>False</applyOffset>
  <broadcastTF>True</broadcastTF>
</plugin>
</gazebo>
</robot>
